.tickets-window {
    background-color: black;
    color: white;
    font-size: xx-large;
    font-family: sans-serif;
}

.tickets-window th {
    background-color: grey;
    color: white;
    margin: 1px;
    padding: 10px;
    display: inline;
    flex-grow: 1;
}

.tickets-window thead {
    display: flex;
    flex-direction: row;
}

