<!DOCTYPE html>
<html>

<head>
    {% block title %}<title>DTV Branch Services Internal Page</title>{% endblock %}
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
</head>

<body>
    

    {% block nav_bar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/branch_services">
          <img src="{% static 'branch_services/dtv_composite_logo_medium.png' %}" height="60" alt="">
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/branch_services/create_id">Create ID</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/branch_services/create_ticket">Create Ticket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/branch_services/consume_ticket">Consume Ticket</a>
            </li>
        </ul>
    </nav>
    <!-- <img src="{% static 'branch_services/dtv_composite_logo_medium.png' %}"> -->
    {% endblock %}

    

    {% block content %}
    
    <h1>DTV Branch Services Internal Site</h1>

    {% endblock %}

</body>

</html>